body {
  margin: 0;
  text-align: center;
  font-family: Comic Sans MS, cursive;
  background: linear-gradient(45deg, pink, lightblue, yellow);
  background-size: 400% 400%;
  animation: bgMove 6s infinite alternate;
}

@keyframes bgMove {
  0% { background-position: left; }
  100% { background-position: right; }
}

.page {
  display: none;
  margin-top: 120px;
}

.active {
  display: block;
}

button {
  padding: 15px 25px;
  margin: 15px;
  font-size: 18px;
  border-radius: 12px;
  border: 3px dashed hotpink;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
}